html
{
	overflow: -moz-hidden-unscrollable;
	height: 100%;
}
body::-webkit-scrollbar
{
	display: none;
}
body
{
	-ms-overflow-style: none;
	height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}
/*作者：Yeefun*/
/*链接：https://juejin.im/post/5a6046dbf265da3e253c3534*/
/*来源：掘金*/
/*著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。*/